
*.class
*.lst
.classpath
.project
.settings
*.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/
.classpath
estampala.server.core/commons/.classpath
estampala.server.core/commons/.classpath
estampala.server.core/payment/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/shopping-cart/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/users/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
