# compiled output
/web/dist
/web/tmp

# dependencies
/web/node_modules
/web/bower_components

/EstampalaDerivador/bin/*

# misc
/web/.sass-cache
/web/connect.lock
/web/coverage/*
/web/libpeerconnection.log
npm-debug.log*
testem.log

*.class
*.lst
.classpath
.project
.settings
*.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/
.classpath
estampala.server.core/commons/.classpath
estampala.server.core/commons/.classpath
estampala.server.core/payment/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/shopping-cart/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/users/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/catalog/.classpath
estampala.server.core/commons/.classpath
estampala.server.core/payment/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/shopping-cart/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
estampala.server.core/users/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

.DS_Store
