
*.class
*.lst
.classpath
.project
.settings
*.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
estampala.server.core/catalog/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/
