<div class="body">
    <!-- TOPBAR -->
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="tb_left pull-left">
                        <p>Bienvenido a Estampa.la!</p>
                    </div>
                    <div class="tb_center pull-left">
                        <ul>
                            <li><i class="fa fa-phone"></i> Celular: <a href="#">(+57) 310 222 3344</a></li>
                            <li><i class="fa fa-envelope-o"></i> <a href="#">contacto@estampa.la</a></li>
                        </ul>
                    </div>
                    <div class="tb_right pull-right">
                        <ul>
                            <li>
                                <div class="tbr-info">
                                    <span>Usuario <i class="fa fa-caret-down"></i></span>
                                    <div class="tbr-inner">
                                        <a href="#">Mi Cuenta</a>
                                        {{#link-to "users.login"}}Login{{/link-to}}
                                        <a href="#">Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Logo -->
                        {{#link-to "index" class="navbar-brand"}}<img src="/images/logo.png" class="img-responsive" alt=""/>{{/link-to}}
                    </div>
                    <!-- Cart & Search -->
                    <div class="header-xtra pull-right">
                        <div class="topcart">
                            <span><i class="fa fa-shopping-cart"></i></span>
                            <div class="cart-info">
                                <small>You have <em class="highlight">3 item(s)</em> in your shopping bag</small>
                                <div class="ci-item">
                                    <img src="/images/products/fashion/8.jpg" width="80" alt=""/>
                                    <div class="ci-item-info">
                                        <h5><a href="./single-product.html">Product fashion</a></h5>
                                        <p>2 x $250.00</p>
                                        <div class="ci-edit">
                                            <a href="#" class="edit fa fa-edit"></a>
                                            <a href="#" class="edit fa fa-trash"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ci-item">
                                    <img src="/images/products/fashion/15.jpg" width="80" alt=""/>
                                    <div class="ci-item-info">
                                        <h5><a href="./single-product.html">Product fashion</a></h5>
                                        <p>2 x $250.00</p>
                                        <div class="ci-edit">
                                            <a href="#" class="edit fa fa-edit"></a>
                                            <a href="#" class="edit fa fa-trash"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="ci-total">Subtotal: $750.00</div>
                                <div class="cart-btn">
                                    <a href="#">View Bag</a>
                                    <a href="#">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navmenu -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="{}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inicio</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Artista</a>
                                <ul class="dropdown-menu submenu" role="menu">
                                    <li>{{#link-to "prints.list"}}Administrar de estampas{{/link-to}}</li>
                                    <li><a href="">Reportes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>    

    {{outlet}}

    <div class="clearfix space20"></div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 widget-footer">
                    <h5>Acerca De Estampa.la</h5>
                    <img src="/images/logo_blanco.png" class="img-responsive space10" alt=""/>
                    <p>Somos una empresa que apoya el desarrollo de los verdaderos artistas de camisetas.</p>
                    <div class="clearfix"></div>
                    <ul class="f-social">
                        <li><a href="https://www.facebook.com" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.twitter.com" class="fa fa-twitter"></a></li>
                        <li><a href="https://feedburner.google.com" class="fa fa-rss"></a></li>
                        <li><a href="mailto:email@website.com" class="fa fa-envelope"></a></li>
                        <li><a href="https://www.pinterest.com" class="fa fa-pinterest"></a></li>
                        <li><a href="https://www.instagram.com" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 widget-footer">
                    <h5>Temas de estampas</h5>
                    <ul class="widget-tags">
                        <li><a href="#">fashion</a></li>
                        <li><a href="#">sports</a></li>
                        <li><a href="#">business</a></li>
                        <li><a href="#">news</a></li>
                        <li><a href="#">night</a></li>
                        <li><a href="#">freedom</a></li>
                        <li><a href="#">design</a></li>
                        <li><a href="#">miracle</a></li>
                        <li><a href="#">gallery</a></li>
                        <li><a href="#">collection</a></li>
                        <li><a href="#">pen</a></li>
                        <li><a href="#">pants</a></li>
                        <li><a href="#">jeans</a></li>
                        <li><a href="#">photos</a></li>
                        <li><a href="#">oscar</a></li>
                        <li><a href="#">smile</a></li>
                        <li><a href="#">love</a></li>
                        <li><a href="#">sunshine</a></li>
                        <li><a href="#">luxury</a></li>
                        <li><a href="#">forever</a></li>
                        <li><a href="#">inlove</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 widget-footer">
                    <h5>Suscríbete</h5>
                    <p>Suscribete a nuestro boletín, y recibe noticias y promociones</p>
                    <form class="newsletter">
                        <input type="text" placeholder="Ingresa tu email.">
                        <button type="submit">Subscríbete!</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <p>Copyright 2017 &middot; Todos los derechos reservados</p>
                </div>
                <div class="col-md-5 col-sm-5">
                    <img src="/images/basic/payment.png" class="pull-right img-responsive payment" alt=""/>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugin/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/bs-navbar.js"></script>
<script src="/js/vendors/isotope/isotope.pkgd.js"></script>
<script src="/js/vendors/slick/slick.min.js"></script>
<script src="/js/vendors/tweets/tweecool.min.js"></script>
<script src="/js/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.subscribe-better.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- <script src="js/select2.min.js"></script> -->
<!-- <script src="js/vendors/select/jquery.selectBoxIt.min.js"></script> -->
<script type="text/javascript" defer>
  $(document).ready(function(){
    $.getScript("/js/select2.min.js", function(){
      $('.select_author').select2();
    });
  });
</script>
