Catalogo
Navegar
Tema
Autor
Rating
Popularidad
Estampa
Calificar
Consultar
"Info Basica"
"Info Detallada"
Publicar
Eliminar
Reclasificar
Camiseta
Configurar
"Compartir Camiseta Redes Sociales"
Parametros
Temas
Tallas
Colores
Estilos
Materiales
Usuario
"Gestionar Roles"
Registrar
"Editar Perfil"
"Cambiar Contraseña"
"Cambiar Info Envio"
Autenticacion
Sistema
"Redes Sociales"
Facebook
Twitter
Pago
"Realizar Pago"
PSE
"Tarjeta Credito"
"Tarjeta Regalo"
"Adquirir Tarjeta Regalo"
Reporte
"Consultar Ventas por Usuario"
"Consultar Estado Ventas"
"Consultar Estampas Rating"
"Carrito Compras"
"Agregar Producto"
"Modificar Contenido"
Comprar
"Generar Factura"
