{{outlet}}
<div class="container">
  <div class="col-md-12">
    <div class="pagenav-wrap">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="pull-right">
            {{#link-to "roles.add" class="btn btn-success"}}Agregar Rol{{/link-to}}
          </div>
        </div>
      </div>
    </div>
    <div class="space50"></div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |rol|}}
          <tr>
            <td>{{rol.name}}</td>
            <td>{{#link-to "roles.edit" rol.id class="btn btn-info"}}Editar{{/link-to}}</td>
            <td><button {{action "deleteRole" rol}} class="btn btn-danger">Eliminar</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
