{{outlet}}

<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js">
</script>

<div class="account-wrap">
 <div class="container">
   <div class="row">
     <div class="col-md-12 col-sm-12">
       <div id="account-id">
         <h4 class="account-title"><span class="fa fa-chevron-right"></span>Estampas por Rating</h4>
         <div class="account-form">
           <ul class="form-list row">
             <li class="col-md-6 col-sm-6">
               <label>Mínimo <em>*</em></label>
               {{input value=min id="rating_min" placeholder="Valor mínimo" type="text" class="input-text" required="required"}}
             </li>
             <li class="col-md-6 col-sm-6">
               <label>Máximo <em>*</em></label>
               {{input value=max id="rating_max" placeholder="Valor máximo" type="text" class="input-text" required="required"}}
             </li>
           </ul>
           <div class="buttons-set">
             <button {{action "loadData"}} class="btn-black">Consultar</button>
           </div>
           <div class="clearfix space20"></div>
           <table id="data" class="display"></table>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="clearfix space20"></div>
